:host {
  position: relative;
  flex: 2;
  height: 100%;
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
