<div class="outer">
  <div class="header">
    <h3>File structure explorer</h3>
  </div>
  <div class="container">
    <div class="explorer">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <!--<button mat-icon-button disabled></button>-->

          <div class="leaf">
            <img src="assets\ico\js.png" class="leaf-ico" width="20">
            <p class="leaf-name">{{node.name}}</p>
          </div>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button class="toggle-btn" mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <div class="leaf">
            <img src="assets\ico\folder.png" class="leaf-ico" width="20">
            <p class="leaf-name">{{node.name}}</p>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>

    <div class="grid">
      <div class="btn-container">
        <button class="btn">Up</button>
        <button class="btn">Upload</button>
      </div>

      <div class="grid-item">
        <img src="assets\ico\folder.png" class="grid-item-ico" width="40">
        <p class="grid-item-text">Word.docx</p>
      </div>
      <div class="grid-item">
        <img src="assets\ico\folder.png" class="grid-item-ico" width="40">
        <p class="grid-item-text">Word.docx</p>
      </div>
      <div class="grid-item">
        <img src="assets\ico\folder.png" class="grid-item-ico" width="40">
        <p class="grid-item-text">Word.docx</p>
      </div>
    </div>
  </div>
</div>
