@import '~@angular/material/theming';

:root {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
}

.outer {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.header {
  text-align: center;
  border: 6px double #5c6bc0;
  & > h3 {
    font-style: italic;
  }
}

.container {
  display: flex;
  flex-grow: 1;
}

.explorer {
  overflow: scroll;
  min-width: 10%;
  background-color: #f2f2f2;
  resize: horizontal;
}
.mat-tree {
  background-color: #f2f2f2;
}

.mat-tree-node {
  min-height: 2.5em;
  word-wrap: unset;
}

.leaf {

}

.leaf-ico {
  float: left;
}

.leaf-name {
  overflow: hidden;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-left: 0.3em;
  white-space: nowrap;
}

.toggle-btn {
  background-color: inherit;
  border: none;
  &:focus {
    outline: none;
  }
}

.main {
  min-width: 30%;
  flex: 2;
}

.grid {
  overflow-y: scroll;
  align-items: center;
}

.grid-item {
  padding-left: 1em;
  display: flex;
  &:nth-child(odd) {
    background-color: #e6e6e6;
  }
  &:hover {
    background-color: #dadef1;
    cursor: default;
  }
}

.grid-item-ico {
  float: left;
  margin-right: 0.8em;
  object-fit: contain;
}

.grid-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-items-actions-container {
  position: relative;
  display: inline-block;
}

.grid-items-action-menu {
  border: 1px solid #e6e6e6;
  background-color: white;
  list-style-type: none;
  position: absolute;
  padding-left: 0;
}

.grid-item-action {
  display: flex;
  padding-left: 0.5em;
  & > img {
    float: left;
    margin-right: 0.5em;
    object-fit: contain;
  }
  & > p {
    margin: 0.5em;
  }
  &:hover {
    cursor: pointer;
    background-color: #e6e6e6;
  }
}

.btn-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  * + * {
    margin-left: 0.3em;
  }
}

.btn {
  background-color: #5c6bc0;
  padding: 0.3em 1em;
  color: white;
  border: 1px solid;
  font-size: 1em;
  &:hover {
    background-color: #1E90FF;
  }
  &:focus {
    outline: none;
  }
}

















