:host {
  padding-left: 1em;
  display: flex;
  &:nth-child(odd) {
    background-color: var(--deep-gray);
  }
  &:hover {
    background-color: var(--light-blue);
    cursor: default;
  }
  &>.options-container {
    margin-left: auto;
  }
}

img {
  float: left;
  margin-right: 0.8em;
  object-fit: contain;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rename {
  font-size: inherit;
  font-style: inherit;
}

.options-container {
  padding-top: 1em;

  &>img {
    &:hover {
      cursor: pointer;
    }
  }
}
