<img src="{{imagePath}}" class="ico" width="40">
<p class="name">{{fileName}}</p>
<!--                        <div class="grid-item-actions-container">-->
<!--                          <ul class="grid-items-action-menu">-->
<!--                            <li>-->
<!--                              <div class="grid-item-action">-->
<!--                                <img src="assets\items-actions\copy.png" width="20">-->
<!--                                <p>Copy</p>-->
<!--                              </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                              <div class="grid-item-action">-->
<!--                                <img src="assets\items-actions\cut.png" width="20">-->
<!--                                <p>Cut</p>-->
<!--                              </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                              <div class="grid-item-action">-->
<!--                                <img src="assets\items-actions\rename.png" width="20">-->
<!--                                <p>Rename</p>-->
<!--                              </div>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                              <div class="grid-item-action">-->
<!--                                <img src="assets\items-actions\delete.png" width="20">-->
<!--                                <p>Delete</p>-->
<!--                              </div>-->
<!--                            </li>-->
<!--                          </ul>-->
<!--                        </div>-->
